<h1><center>CHOOSING BEST MANAGER<center></h1>

<h3>Importing Packages<h3>

In [214]:
import numpy as np
import pandas as pd

In [215]:
df = pd.read_csv( "Managers.csv" )
df.head()
# x = data.where(data[ Year ] == '2017')

   Year         Manager         Club
0  2022    Mikel Arteta      Arsenal
1  2022      Unai Emery  Aston Villa
2  2022     Aaron Danks  Aston Villa
3  2022  Steven Gerrard  Aston Villa
4  2022     Gary O'Neil  Bournemouth

In [216]:
promotedTeams = {}
years = [ 2017,  2018 ,  2019 ,  2020 ,  2021]


for year in years:
    promotedTeams.update({year: []})
    for _, thisYear in df[df["Year"] == year ].iterrows():
        teamExist = False
        for _,previousYear in df[df["Year"] == year-1].iterrows():
            if(thisYear["Club"] == previousYear["Club"]):
                teamExist = True
                break
        if(not teamExist):
            promotedTeams[year].append({"Club":thisYear["Club"], "Manager": thisYear["Manager"]})
           

print(promotedTeams)

{2017: [{'Club': 'Brighton & Hove Albion', 'Manager': 'Chris Hughton'}, {'Club': 'Huddersfield Town', 'Manager': 'David Wagner'}, {'Club': 'Newcastle United', 'Manager': 'Rafael Benítez'}], 2018: [{'Club': 'Cardiff City', 'Manager': 'Neil Warnock'}, {'Club': 'Fulham', 'Manager': 'Scott Parker'}, {'Club': 'Fulham', 'Manager': 'Claudio Ranieri'}, {'Club': 'Fulham', 'Manager': 'Slavisa Jokanovic'}, {'Club': 'Wolverhampton Wanderers', 'Manager': 'Nuno Espírito Santo'}], 2019: [{'Club': 'Aston Villa', 'Manager': 'Dean Smith'}, {'Club': 'Norwich City', 'Manager': 'Daniel Farke'}, {'Club': 'Sheffield United', 'Manager': 'Chris Wilder'}], 2020: [{'Club': 'Fulham', 'Manager': 'Scott Parker'}, {'Club': 'Leeds United', 'Manager': 'Marcelo Bielsa'}, {'Club': 'West Bromwich Albion', 'Manager': 'Sam Allardyce'}, {'Club': 'West Bromwich Albion', 'Manager': 'Slaven Bilic'}], 2021: [{'Club': 'Brentford', 'Manager': 'Thomas Frank'}, {'Club': 'Norwich City', 'Manager': 'Dean Smith'}, {'Club': 'Norwich City', 'Manager': 'Daniel Farke'}, {'Club': 'Watford', 'Manager': 'Roy Hodgson'}, {'Club': 'Watford', 'Manager': 'Claudio Ranieri'}, {'Club': 'Watford', 'Manager': 'Francisco Javier Muñoz Llompart'}]}

In [217]:
managerRanking = {}

df = pd.read_csv("EPL Standings 2000-2022.csv")

for year in promotedTeams:
    for manager in promotedTeams[year]:
        teams = df[(df["Season"].str.slice(stop=4) == str(year))]
        position = teams.loc[teams["Team"] == manager["Club"], ["Pos"]]

        if manager["Manager"] in managerRanking:
            if(managerRanking[manager["Manager"]] < (position.values[0]).item(0)):
                managerRanking[manager["Manager"]] = (position.values[0]).item(0)

        else:  managerRanking[manager["Manager"]] = (position.values[0]).item(0)


managers = pd.DataFrame(managerRanking.items(), columns=["Manager", "Position"])

managers = managers.sort_values(by="Position")

display(managers)

                            Manager  Position
7               Nuno Espírito Santo         7
11                   Marcelo Bielsa         9
10                     Chris Wilder         9
2                    Rafael Benítez        10
14                     Thomas Frank        13
0                     Chris Hughton        15
1                      David Wagner        16
3                      Neil Warnock        18
13                     Slaven Bilic        19
12                    Sam Allardyce        19
16  Francisco Javier Muñoz Llompart        19
15                      Roy Hodgson        19
6                 Slavisa Jokanovic        19
5                   Claudio Ranieri        19
4                      Scott Parker        19
9                      Daniel Farke        20
8                        Dean Smith        20