In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv('eplmatches.csv')
df

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A
...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A

In [4]:
df.Home.unique()

array(['Coventry City', 'Leeds United', 'Sheffield Utd', 'Crystal Palace',
       'Arsenal', 'Ipswich Town', 'Everton', 'Southampton', 'Chelsea',
       "Nott'ham Forest", 'Manchester City', 'Blackburn',
       'Manchester Utd', 'Liverpool', 'Middlesbrough', 'Sheffield Weds',
       'Wimbledon', 'QPR', 'Oldham Athletic', 'Tottenham', 'Norwich City',
       'Aston Villa', 'Newcastle Utd', 'West Ham', 'Swindon Town',
       'Leicester City', 'Bolton', 'Sunderland', 'Derby County',
       'Barnsley', 'Charlton Ath', 'Watford', 'Bradford City', 'Fulham',
       'West Brom', 'Birmingham City', 'Portsmouth', 'Wolves',
       'Wigan Athletic', 'Reading', 'Hull City', 'Stoke City', 'Burnley',
       'Blackpool', 'Swansea City', 'Cardiff City', 'Bournemouth',
       'Brighton', 'Huddersfield', 'Brentford'], dtype=object)

In [5]:
df.loc[df['FTR'] =='H', 'Won'] = df['Home']
df.loc[df['FTR'] =='A', 'Won'] = df['Away']
df.loc[df['FTR'] =='H', 'Lost'] =df['Away']
df.loc[df['FTR'] =='A', 'Lost'] =df['Home']
df.loc[df['FTR'] =='D', 'HomeDraw'] = df['Home']
df.loc[df['FTR'] =='D', 'AwayDraw'] = df['Away']

In [6]:
df=df[df.Wk<20] # Getting only the games till the mid-season
"""with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)"""
df

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR,Won,Lost,HomeDraw,AwayDraw
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H,Coventry City,Middlesbrough,NaN,NaN
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H,Leeds United,Wimbledon,NaN,NaN
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H,Sheffield Utd,Manchester Utd,NaN,NaN
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D,NaN,NaN,Crystal Palace,Blackburn
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A,Norwich City,Arsenal,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D,NaN,NaN,Leeds United,Wolves
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A,Manchester City,Brighton,NaN,NaN
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H,West Ham,Tottenham,NaN,NaN
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A,Leicester City,Brentford,NaN,NaN
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A,Liverpool,Manchester Utd,NaN,NaN

In [21]:
CountWin = df.groupby(['Season_End_Year', 'Won']).agg({'Won': ['count']})
CountWin.columns = ['CountWins']
CountWin=CountWin.reset_index()
CountWin.rename(columns = {'Won':'Team'}, inplace = True)

In [22]:
CountLosses = df.groupby(['Season_End_Year','Lost']).agg({'Lost': ['count']})
CountLosses.columns = ['CountLosses']
CountLosses=CountLosses.reset_index()
CountLosses.rename(columns = {'Lost':'Team'}, inplace = True)

In [61]:
CountHomeDraws = df.groupby(['Season_End_Year','HomeDraw']).agg({'HomeDraw': ['count']})
CountHomeDraws.columns = ['CountDraws']
CountHomeDraws=CountHomeDraws.reset_index()
CountHomeDraws.rename(columns = {'HomeDraw':'Team'}, inplace = True)
CountHomeDraws.fillna(0,inplace=True)
CountHomeDraws

     Season_End_Year            Team  CountDraws
0               1993     Aston Villa           3
1               1993       Blackburn           1
2               1993         Chelsea           3
3               1993   Coventry City           3
4               1993  Crystal Palace           5
..               ...             ...         ...
567             2022     Southampton           5
568             2022       Tottenham           1
569             2022         Watford           1
570             2022        West Ham           2
571             2022          Wolves           2

[572 rows x 3 columns]

In [64]:
CountAwayDraws = df.groupby(['Season_End_Year','AwayDraw']).agg({'AwayDraw': ['count']})
CountAwayDraws.columns = ['CountDraws']
CountAwayDraws=CountAwayDraws.reset_index()
CountAwayDraws.rename(columns = {'AwayDraw':'Team'}, inplace = True)
CountAwayDraws

     Season_End_Year           Team  CountDraws
0               1993        Arsenal           2
1               1993    Aston Villa           4
2               1993      Blackburn           6
3               1993        Chelsea           2
4               1993  Coventry City           5
..               ...            ...         ...
571             2022    Southampton           3
572             2022      Tottenham           1
573             2022        Watford           1
574             2022       West Ham           2
575             2022         Wolves           2

[576 rows x 3 columns]

     Season_End_Year           Team  CountDraws
0               1993        Arsenal         5.0
1               1993    Aston Villa         5.0
2               1993      Blackburn         9.0
3               1993        Chelsea         5.0
4               1993  Coventry City        10.0
..               ...            ...         ...
571             2022    Southampton         5.0
572             2022      Tottenham         NaN
573             2022        Watford         NaN
574             2022       West Ham         NaN
575             2022         Wolves         NaN

[576 rows x 3 columns]

In [23]:
CountLosses

     Season_End_Year           Team  CountLosses
0               1993        Arsenal            8
1               1993    Aston Villa            3
2               1993      Blackburn            4
3               1993        Chelsea            5
4               1993  Coventry City            5
..               ...            ...          ...
597             2022    Southampton            6
598             2022      Tottenham            6
599             2022        Watford           13
600             2022       West Ham            6
601             2022         Wolves            7

[602 rows x 3 columns]

In [70]:

CountWin

     Season_End_Year           Team  CountWins
0               1993        Arsenal          9
1               1993    Aston Villa          9
2               1993      Blackburn          8
3               1993        Chelsea          9
4               1993  Coventry City          6
..               ...            ...        ...
601             2022    Southampton          5
602             2022      Tottenham         11
603             2022        Watford          4
604             2022       West Ham          9
605             2022         Wolves          8

[606 rows x 3 columns]

In [66]:
Merged = pd.merge(CountWin, CountLosses, on=['Season_End_Year','Team'],how='left')
Merged = pd.merge(Merged, CountHomeDraws, on=['Season_End_Year','Team'],how='left')
Merged = pd.merge(Merged, CountAwayDraws, on=['Season_End_Year','Team'],how='left')
Merged.fillna(0,inplace=True)
Merged

,Season_End_Year,Team,CountWins,CountLosses,CountDraws_x,CountDraws_y
0,1993,Arsenal,9,8.0,0.0,2.0
1,1993,Aston Villa,9,3.0,3.0,4.0
2,1993,Blackburn,8,4.0,1.0,6.0
3,1993,Chelsea,9,5.0,3.0,2.0
4,1993,Coventry City,6,5.0,3.0,5.0
...,...,...,...,...,...,...
601,2022,Southampton,5,6.0,5.0,3.0
602,2022,Tottenham,11,6.0,1.0,1.0
603,2022,Watford,4,13.0,1.0,1.0
604,2022,West Ham,9,6.0,2.0,2.0
605,2022,Wolves,8,7.0,2.0,2.0

In [67]:
Merged['CountDraws_x']=Merged['CountDraws_x']+Merged['CountDraws_y']
Merged.drop('CountDraws_y', inplace=True, axis=1)
Merged.rename(columns = {'CountDraws_x':'CountDraws'}, inplace = True)
Merged

     Season_End_Year           Team  CountWins  CountLosses  CountDraws
0               1993        Arsenal          9          8.0         2.0
1               1993    Aston Villa          9          3.0         7.0
2               1993      Blackburn          8          4.0         7.0
3               1993        Chelsea          9          5.0         5.0
4               1993  Coventry City          6          5.0         8.0
..               ...            ...        ...          ...         ...
601             2022    Southampton          5          6.0         8.0
602             2022      Tottenham         11          6.0         2.0
603             2022        Watford          4         13.0         2.0
604             2022       West Ham          9          6.0         4.0
605             2022         Wolves          8          7.0         4.0

[606 rows x 5 columns]

In [72]:
Merged.isnull().values.sum()

0

In [71]:
Merged

     Season_End_Year           Team  CountWins  CountLosses  CountDraws
0               1993        Arsenal          9          8.0         2.0
1               1993    Aston Villa          9          3.0         7.0
2               1993      Blackburn          8          4.0         7.0
3               1993        Chelsea          9          5.0         5.0
4               1993  Coventry City          6          5.0         8.0
..               ...            ...        ...          ...         ...
601             2022    Southampton          5          6.0         8.0
602             2022      Tottenham         11          6.0         2.0
603             2022        Watford          4         13.0         2.0
604             2022       West Ham          9          6.0         4.0
605             2022         Wolves          8          7.0         4.0

[606 rows x 5 columns]

In [ ]:


Relegated=pd.DataFrame({'Season_End_Year':[1993,1993,1993],'Won':['Crystal Palace','Middlesbrough','Nott\'ham Forest']})
Relegated

In [155]:
Relegated=pd.merge(CountWin, Relegated, on=['Season_End_Year', 'Won'])
Relegated

   Season_End_Year              Won  CountWins
0             1993   Crystal Palace          3
1             1993    Middlesbrough          6
2             1993  Nott'ham Forest          3