In [121]:
import pandas as pd
import numpy as np

In [122]:
df= pd.read_csv('eplmatches.csv')
df

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A
...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A

In [148]:
df.Home.unique()

array(['Coventry City', 'Leeds United', 'Sheffield Utd', 'Crystal Palace',
       'Arsenal', 'Ipswich Town', 'Everton', 'Southampton', 'Chelsea',
       "Nott'ham Forest", 'Manchester City', 'Blackburn',
       'Manchester Utd', 'Liverpool', 'Middlesbrough', 'Sheffield Weds',
       'Wimbledon', 'QPR', 'Oldham Athletic', 'Tottenham', 'Norwich City',
       'Aston Villa', 'Newcastle Utd', 'West Ham', 'Swindon Town',
       'Leicester City', 'Bolton', 'Sunderland', 'Derby County',
       'Barnsley', 'Charlton Ath', 'Watford', 'Bradford City', 'Fulham',
       'West Brom', 'Birmingham City', 'Portsmouth', 'Wolves',
       'Wigan Athletic', 'Reading', 'Hull City', 'Stoke City', 'Burnley',
       'Blackpool', 'Swansea City', 'Cardiff City', 'Bournemouth',
       'Brighton', 'Huddersfield', 'Brentford'], dtype=object)

In [124]:
df.loc[df['FTR'] =='H', 'Won'] = df['Home']
df.loc[df['FTR'] =='A', 'Won'] = df['Away']
df.loc[df['FTR'] =='H', 'Lost'] =df['Away']
df.loc[df['FTR'] =='A', 'Lost'] =df['Home']
df.loc[df['FTR'] =='D', 'HomeDraw'] = df['Home']
df.loc[df['FTR'] =='D', 'AwayDraw'] = df['Away']

In [125]:
df=df[df.Wk<20] # Getting only the games till the mid-season
"""with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)"""
df

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR,Won,Lost,HomeDraw,AwayDraw
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H,Coventry City,Middlesbrough,NaN,NaN
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H,Leeds United,Wimbledon,NaN,NaN
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H,Sheffield Utd,Manchester Utd,NaN,NaN
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D,NaN,NaN,Crystal Palace,Blackburn
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A,Norwich City,Arsenal,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D,NaN,NaN,Leeds United,Wolves
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A,Manchester City,Brighton,NaN,NaN
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H,West Ham,Tottenham,NaN,NaN
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A,Leicester City,Brentford,NaN,NaN
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A,Liverpool,Manchester Utd,NaN,NaN

In [126]:
CountWin = df.groupby(['Season_End_Year', 'Won']).agg({'Won': ['count']})
CountWin.columns = ['CountWins']
CountWin=CountWin.reset_index()

In [151]:
CountWin
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(CountWin)

     Season_End_Year              Won  CountWins
0               1993          Arsenal          9
1               1993      Aston Villa          9
2               1993        Blackburn          8
3               1993          Chelsea          9
4               1993    Coventry City          6
5               1993   Crystal Palace          3
6               1993          Everton          5
7               1993     Ipswich Town          6
8               1993     Leeds United          6
9               1993        Liverpool          8
10              1993  Manchester City          7
11              1993   Manchester Utd          9
12              1993    Middlesbrough          6
13              1993     Norwich City         12
14              1993  Nott'ham Forest          3
15              1993  Oldham Athletic          4
16              1993              QPR          8
17              1993    Sheffield Utd          5
18              1993   Sheffield Weds          4
19              1993      Southampton          5
20              1993        Tottenham          6
21              1993        Wimbledon          4
22              1994          Arsenal          8
23              1994      Aston Villa          8
24              1994        Blackburn          9
25              1994          Chelsea          4
26              1994    Coventry City          5
27              1994          Everton          7
28              1994     Ipswich Town          6
29              1994     Leeds United         10
30              1994        Liverpool          9
31              1994  Manchester City          4
32              1994   Manchester Utd         15
33              1994    Newcastle Utd         10
34              1994     Norwich City          7
35              1994  Oldham Athletic          4
36              1994              QPR          8
37              1994    Sheffield Utd          3
38              1994   Sheffield Weds          5
39              1994      Southampton          4
40              1994     Swindon Town          1
41              1994        Tottenham          5
42              1994         West Ham          7
43              1994        Wimbledon          5
44              1995          Arsenal          6
45              1995      Aston Villa          3
46              1995        Blackburn         13
47              1995          Chelsea          8
48              1995    Coventry City          6
49              1995   Crystal Palace          5
50              1995          Everton          4
51              1995     Ipswich Town          3
52              1995     Leeds United          9
53              1995   Leicester City          3
54              1995        Liverpool          9
55              1995  Manchester City          8
56              1995   Manchester Utd         13
57              1995    Newcastle Utd         11
58              1995     Norwich City          8
59              1995  Nott'ham Forest         10
60              1995              QPR          6
61              1995   Sheffield Weds          5
62              1995      Southampton          6
63              1995        Tottenham          7
64              1995         West Ham          6
65              1995        Wimbledon          6
66              1996          Arsenal          8
67              1996      Aston Villa          9
68              1996        Blackburn          7
69              1996           Bolton          2
70              1996          Chelsea          7
71              1996    Coventry City          3
72              1996          Everton          6
73              1996     Leeds United          8
74              1996        Liverpool         10
75              1996  Manchester City          4
76              1996   Manchester Utd         10
77              1996    Middlesbrough          9
78              1996    Newcastle Utd         14
79              1996  Nott'ham Forest          7
80              1996              QPR          5
81              1996   Sheffield Weds          5
82              1996      Southampton          4
83              1996        Tottenham          9
84              1996         West Ham          6
85              1996        Wimbledon          3
86              1997          Arsenal         10
87              1997      Aston Villa         10
88              1997        Blackburn          3
89              1997          Chelsea          8
90              1997    Coventry City          4
91              1997     Derby County          5
92              1997          Everton          7
93              1997     Leeds United          6
94              1997   Leicester City          6
95              1997        Liverpool         10
96              1997   Manchester Utd          9
97              1997    Middlesbrough          4
98              1997    Newcastle Utd          9
99              1997  Nott'ham Forest          2
100             1997   Sheffield Weds          6
101             1997      Southampton          4
102             1997       Sunderland          6
103             1997        Tottenham          8
104             1997         West Ham          4
105             1997        Wimbledon         10
106             1998          Arsenal          9
107             1998      Aston Villa          6
108             1998         Barnsley          4
109             1998        Blackburn         11
110             1998           Bolton          4
111             1998          Chelsea         12
112             1998    Coventry City          4
113             1998   Crystal Palace          5
114             1998     Derby County          8
115             1998          Everton          4
116             1998     Leeds United         10
117             1998   Leicester City          7
118             1998        Liverpool         10
119             1998   Manchester Utd         13
120             1998    Newcastle Utd          7
121             1998   Sheffield Weds          6
122             1998      Southampton          6
123             1998        Tottenham          5
124             1998         West Ham          8
125             1998        Wimbledon          6
126             1999          Arsenal          8
127             1999      Aston Villa         10
128             1999        Blackburn          4
129             1999     Charlton Ath          3
130             1999          Chelsea          9
131             1999    Coventry City          4
132             1999     Derby County          5
133             1999          Everton          5
134             1999     Leeds United          8
135             1999   Leicester City          7
136             1999        Liverpool          8
137             1999   Manchester Utd          9
138             1999    Middlesbrough          7
139             1999    Newcastle Utd          6
140             1999  Nott'ham Forest          2
141             1999   Sheffield Weds          6
142             1999      Southampton          3
143             1999        Tottenham          6
144             1999         West Ham          8
145             1999        Wimbledon          8
146             2000          Arsenal         11
147             2000      Aston Villa          7
148             2000    Bradford City          4
149             2000          Chelsea          9
150             2000    Coventry City          6
151             2000     Derby County          4
152             2000          Everton          7
153             2000     Leeds United         14
154             2000   Leicester City          9
155             2000        Liverpool         10
156             2000   Manchester Utd         14
157             2000    Middlesbrough          8
158             2000    Newcastle Utd          5
159             2000   Sheffield Weds          2
160             2000      Southampton          4
161             2000       Sunderland         11
162             2000        Tottenham          9
163             2000          Watford          3
164             2000         West Ham          8
165             2000        Wimbledon          4
166             2001          Arsenal         10
167             2001      Aston Villa          7
168             2001    Bradford City          2
169             2001     Charlton Ath          7
170             2001          Chelsea          7
171             2001    Coventry City          4
172             2001     Derby County          4
173             2001          Everton          6
174             2001     Ipswich Town         10
175             2001     Leeds United          8
176             2001   Leicester City         10
177             2001        Liverpool         10
178             2001  Manchester City          5
179             2001   Manchester Utd         13
180             2001    Middlesbrough          3
181             2001    Newcastle Utd          8
182             2001      Southampton          5
183             2001       Sunderland          9
184             2001        Tottenham          7
185             2001         West Ham          6
186             2002          Arsenal         10
187             2002      Aston Villa          7
188             2002        Blackburn          5
189             2002           Bolton          5
190             2002     Charlton Ath          5
191             2002          Chelsea          7
192             2002     Derby County          4
193             2002          Everton          6
194             2002           Fulham          5
195             2002     Ipswich Town          3
196             2002     Leeds United          9
197             2002   Leicester City          3
198             2002        Liverpool         11
199             2002   Manchester Utd         10
200             2002    Middlesbrough          6
201             2002    Newcastle Utd         12
202             2002      Southampton          7
203             2002       Sunderland          7
204             2002        Tottenham          8
205             2002         West Ham          6
206             2003          Arsenal         12
207             2003      Aston Villa          6
208             2003  Birmingham City          6
209             2003        Blackburn          7
210             2003           Bolton          3
211             2003     Charlton Ath          7
212             2003          Chelsea         10
213             2003          Everton         10
214             2003           Fulham          6
215             2003     Leeds United          6
216             2003        Liverpool          9
217             2003  Manchester City          7
218             2003   Manchester Utd         10
219             2003    Middlesbrough          7
220             2003    Newcastle Utd         11
221             2003      Southampton          7
222             2003       Sunderland          4
223             2003        Tottenham          9
224             2003        West Brom          4
225             2003         West Ham          3
226             2004          Arsenal         13
227             2004      Aston Villa          6
228             2004  Birmingham City          8
229             2004        Blackburn          6
230             2004           Bolton          5
231             2004     Charlton Ath          8
232             2004          Chelsea         13
233             2004          Everton          6
234             2004           Fulham          8
235             2004     Leeds United          4
236             2004   Leicester City          4
237             2004        Liverpool          7
238             2004  Manchester City          5
239             2004   Manchester Utd         15
240             2004    Middlesbrough          5
241             2004    Newcastle Utd          6
242             2004       Portsmouth          5
243             2004      Southampton          7
244             2004        Tottenham          5
245             2004           Wolves          3
246             2005          Arsenal         12
247             2005      Aston Villa          6
248             2005  Birmingham City          5
249             2005        Blackburn          2
250             2005           Bolton          6
251             2005     Charlton Ath          8
252             2005          Chelsea         14
253             2005   Crystal Palace          3
254             2005          Everton         12
255             2005           Fulham          5
256             2005        Liverpool          9
257             2005  Manchester City          6
258             2005   Manchester Utd         10
259             2005    Middlesbrough          9
260             2005    Newcastle Utd          5
261             2005     Norwich City          2
262             2005       Portsmouth          7
263             2005      Southampton          2
264             2005        Tottenham          8
265             2005        West Brom          1
266             2006          Arsenal         10
267             2006      Aston Villa          5
268             2006  Birmingham City          4
269             2006        Blackburn          8
270             2006           Bolton          9
271             2006     Charlton Ath          8
272             2006          Chelsea         17
273             2006          Everton          5
274             2006           Fulham          5
275             2006        Liverpool         12
276             2006  Manchester City          8
277             2006   Manchester Utd         12
278             2006    Middlesbrough          5
279             2006    Newcastle Utd          7
280             2006       Portsmouth          3
281             2006       Sunderland          1
282             2006        Tottenham          9
283             2006        West Brom          5
284             2006         West Ham          7
285             2006   Wigan Athletic         11
286             2007          Arsenal          9
287             2007      Aston Villa          5
288             2007        Blackburn          5
289             2007           Bolton         10
290             2007     Charlton Ath          3
291             2007          Chelsea         14
292             2007          Everton          7
293             2007           Fulham          6
294             2007        Liverpool         10
295             2007  Manchester City          5
296             2007   Manchester Utd         15
297             2007    Middlesbrough          5
298             2007    Newcastle Utd          7
299             2007       Portsmouth          9
300             2007          Reading          8
301             2007    Sheffield Utd          5
302             2007        Tottenham          8
303             2007          Watford          2
304             2007         West Ham          5
305             2007   Wigan Athletic          6
306             2008          Arsenal         13
307             2008      Aston Villa          8
308             2008  Birmingham City          5
309             2008        Blackburn          7
310             2008           Bolton          4
311             2008          Chelsea         11
312             2008     Derby County          1
313             2008          Everton         10
314             2008           Fulham          2
315             2008        Liverpool         11
316             2008  Manchester City         10
317             2008   Manchester Utd         14
318             2008    Middlesbrough          4
319             2008    Newcastle Utd          7
320             2008       Portsmouth          8
321             2008          Reading          6
322             2008       Sunderland          3
323             2008        Tottenham          5
324             2008         West Ham          7
325             2008   Wigan Athletic          4
326             2009          Arsenal          9
327             2009      Aston Villa         10
328             2009        Blackburn          4
329             2009           Bolton          7
330             2009          Chelsea         12
331             2009          Everton          8
332             2009           Fulham          6
333             2009        Hull City          7
334             2009        Liverpool         12
335             2009  Manchester City          6
336             2009   Manchester Utd         12
337             2009    Middlesbrough          5
338             2009    Newcastle Utd          5
339             2009       Portsmouth          6
340             2009       Stoke City          5
341             2009       Sunderland          6
342             2009        Tottenham          5
343             2009        West Brom          4
344             2009         West Ham          6
345             2009   Wigan Athletic          7
346             2010          Arsenal         13
347             2010      Aston Villa         10
348             2010  Birmingham City          8
349             2010        Blackburn          5
350             2010           Bolton          4
351             2010          Burnley          5
352             2010          Chelsea         13
353             2010          Everton          5
354             2010           Fulham          7
355             2010        Hull City          4
356             2010        Liverpool          9
357             2010  Manchester City          8
358             2010   Manchester Utd         13
359             2010       Portsmouth          4
360             2010       Stoke City          6
361             2010       Sunderland          6
362             2010        Tottenham         10
363             2010         West Ham          4
364             2010   Wigan Athletic          5
365             2010           Wolves          5
366             2011          Arsenal         12
367             2011      Aston Villa          6
368             2011  Birmingham City          3
369             2011        Blackburn          6
370             2011        Blackpool          8
371             2011           Bolton          7
372             2011          Chelsea         10
373             2011          Everton          4
374             2011           Fulham          2
375             2011        Liverpool          7
376             2011  Manchester City         10
377             2011   Manchester Utd         11
378             2011    Newcastle Utd          7
379             2011       Stoke City          7
380             2011       Sunderland          6
381             2011        Tottenham          8
382             2011        West Brom          6
383             2011         West Ham          3
384             2011   Wigan Athletic          4
385             2011           Wolves          4
386             2012          Arsenal         11
387             2012      Aston Villa          5
388             2012        Blackburn          3
389             2012           Bolton          4
390             2012          Chelsea         10
391             2012          Everton          7
392             2012           Fulham          4
393             2012        Liverpool          9
394             2012  Manchester City         14
395             2012   Manchester Utd         14
396             2012    Newcastle Utd          8
397             2012     Norwich City          5
398             2012              QPR          4
399             2012       Stoke City          7
400             2012       Sunderland          5
401             2012     Swansea City          4
402             2012        Tottenham         13
403             2012        West Brom          6
404             2012   Wigan Athletic          3
405             2012           Wolves          4
406             2013          Arsenal          9

In [154]:
Relegated=pd.DataFrame({'Season_End_Year':[1993,1993,1993],'Won':['Crystal Palace','Middlesbrough','Nott\'ham Forest']})
Relegated

   Season_End_Year              Won
0             1993   Crystal Palace
1             1993    Middlesbrough
2             1993  Nott'ham Forest

In [155]:
Relegated=pd.merge(CountWin, Relegated, on=['Season_End_Year', 'Won'])
Relegated

   Season_End_Year              Won  CountWins
0             1993   Crystal Palace          3
1             1993    Middlesbrough          6
2             1993  Nott'ham Forest          3